
.commentArea {
    background-color: lightblue;
    width: 100vw;
    padding-left: 10px;
    border-top: solid .2px grey;
    border-left: solid .2px grey;
    font-family: verdana, arial, helvetica, sans-serif;

    .body {
        font-size: 1.1rem;
    }

    .voteArea {
        display: flex;
        align-items: center;
    }

    .voteArea .voteImage {
        margin: 10px;
        cursor: pointer;
        width: 17px;
        height: 17px;
    }
  
    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    summary {
        margin-top: 15px;
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }
}