
.login-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 2px black;
    background-color: #EEE4E1;
    border: 1px solid black;

    img {
        width: 40%;
    }

    form {
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}



.login-area {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.login-area button {
    margin: 10px;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.login-area .googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: -20px;
    width: 223px;

    img {
        margin-right: 6px;
        width: 17px;
    }
}

@media (max-width: 600px) {
    
.login-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 2px black;
    background-color: #EEE4E1;
    border: 1px solid black;

    img {
        width: 40%;
    }

    form {
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
    }
}

.login-area {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-area .loginButton {
    margin-left: 5px;
    min-width: 40px;
    background: #3B8BEB;
    height: 40px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
}

.login-area .googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -20px;
    width: 223px;

    img {
        margin-right: 6px;
        width: 17px;
    }
}
}