
.post {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "voting title image"
    "voting comments image"
    "voting ........  image"
    "...... expandedImage image "
    "......     info     image"
    "........ delete ........."
    ;
    margin-bottom: 40px;
    padding: 20px 40px 10px 10px; 
    width: 60vw; 
    background-color: #EEE4E1;
    opacity: 1;
    min-width: 400px;
    border: 1px solid #495057;
    
    font-family: verdana, arial, helvetica, sans-serif;
    summary::-webkit-details-marker {display: none; }

    .votingArea {grid-area: voting;}
        details {grid-area: image;}
        .postTopArea {grid-area: info;}
        .summaryIcon {grid-area: image;}
        .imageArea {
            grid-area: expandedImage;
            margin-top: 10px;
            margin-left: 5px;
        }
        .comments {
            grid-area: comments;
            font-size: 15px;
        }

        .deletePost {
            grid-area: delete;
            width: 25vw;
            max-width: 100px;
        }

    .postTopArea {
        display: flex;
        height: 30px;
    }

    .votingArea {
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
    }

    .votingArea p {
        margin: 4px;
    }

    .votingArea img {
        width: 17px;
        cursor: pointer;
    }

    .postImage {
        width: 350px;
        
    }

    a {
        text-decoration: none;
        color: #c23104;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(49, 4, 155)
    }

   .summaryIcon {
        width: 130px;
        height: 130px;
        cursor: pointer;
    }
    summary{ list-style: none }
}

@media  (max-width: 849px) {
    
    .post {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: 
        "voting title image"
        "voting comments image"
        "voting ......   image"
        "expandedImage expandedImage expandedImage "
        "......  info    info"
        ". delete ."
        ;
        margin-bottom: 40px;
        padding-bottom: 5vw; 
        width: 100vw;
        height: 100%;
        background-color: #EEE4E1;
        align-content: center;
        border-top: 3px solid #b7bbbe;
        border-bottom: 3px solid #b7bbbe;
        border-left: 0px;
        border-right: 0px;
       
        font-family: verdana, arial, helvetica, sans-serif;
        summary::-webkit-details-marker {display: none; }

        .votingArea {grid-area: voting;}
        details {grid-area: image;}
        .summaryIcon {grid-area: image;}
        .postTopArea {grid-area: info;}
        .imageArea {
            grid-area: expandedImage;
            margin-top: 10px;
            margin-left: 5px;
        }
        .comments {
            grid-area: comments;
            font-size: 3.5vw;
        }

        .deletePost {
            grid-area: delete;
            width: 25vw;
            max-width: 100px;
        }

        .title {
            margin: 0px;
            font-size: 5vw;
        }

        .postBody {
            padding-left: 25px;
            font-size: 4vw;
        }

        .postTopArea {
            display: flex;
            white-space: nowrap;
            height: 30px;
            font-size: 3.5vw;
            margin-bottom: 10px;
        }

        .votingArea {
            margin-top: 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-size: 4.1vw;
        }

        .votingArea p {
            margin: 4px;
        }

        .votingArea img {
            width: 17px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #c23104;
        }

        a:hover {
            text-decoration: underline;
            color: rgb(49, 4, 155)
        }

    .summaryIcon {
            width: 20vw;
            height: 20vw;
            background-color: white;
            cursor: pointer;
        }
        summary{ list-style: none }
    }
}
 




