
.post {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 40px;
    padding: 20px 40px 10px 10px; 
    width: 60vw; 
    background-color: #E7E3D4;
    min-width: 400px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px;
    font-family: verdana, arial, helvetica, sans-serif;

    .postTopArea {
        display: flex;
    }

    .votingArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
    }

    .votingArea img {
        width: 17px;
        cursor: pointer;
    }

    .postImage {
        width: 350px;
        
    }

    a {
        text-decoration: none;
        color: #c23104;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(49, 4, 155)
    }
}

/*
.votingArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.1rem;
}
*/


