.homePage {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 5fr 2.5fr;

    .boardSearch {
        display: flex;
        justify-content: center;
        margin-top: 47px;
        margin-right: 40px;
        min-width: 210px;
    }
}